<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search People by Name</title>
</head>
<body>
    <p>Type the name of the person you want to seach</p>
    <form action="/search" method="POST">
        <div id="searchContainer">
            <input type="text" id="nameInput" name="nameInput" placeholder="Enter a name...">
            <button type="submit">Search</button>
        </div>
    </form>
</body>
</html>