<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <title>Search People by Name</title>
  </head>
  <body>
    <div class="px-4 pt-5 my-5 text-center">
      <div class="col-lg-6 mx-auto">
        <h2 class="mb-5">Type the name of the person you want to search</h2>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <form action="/search" method="POST">
            <div id="searchContainer" class="d-grid mb-3">
              <input type="text" id="nameInput" name="nameInput" required="true" placeholder="Enter a name..."
              class="form-control form-control-lg bg-black text-white" aria-label=".form-control-lg example"/>
            </div>
            <div>
              <button type="submit" class="btn btn-lg px-4 me-sm-3"> Search </button>
              <button type="reset" class="btn btn-lg px-4"> Clear </button>
            </div>
          </form>
        </div>
      </div>
        <div id="searchHistory" class="container text-center">
            <h2>Last 10 searches:</h2>
          <!-- looks for if the history exists and displays it -->
          <% if(locals.history != "" ) {%>
          <ul class="list-group mt-3" id="searchHistoryList">
            <% history.reverse().forEach(item => { %>
            <li class="align-self-center list-group-item"><%= item.name %></li>
            <% }); %>
          </ul>
          <% } else {%>
          <!-- otherwise, indicates that there is no history -->
          <p>There is no search history</p>
          <% } %>
        </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"crossorigin="anonymous">
    </script>
  </body>
</html>
